/* Kontenieri që mban të gjithë kuadratat */

.card {
  background-size: cover;
  background-position: center;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  border-color: wheat;
}
.project-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  color: white;
}

.copy-btn {
  width: 60px;
  border-radius: 12px;
  border-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.copy-btn:hover {
  background-color: white;
  color: black;
}

.card:has(.copy-btn:hover) {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.copy-btn:active {
  border-color: #e0e0e0;
}
